@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap');
@import 'setup';
@import 'variables';
@import 'mixin';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $body;
  background-color: $yellow;
  color: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;

  @include mobileMQ {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  @include mobileMQ {
    font-size: 2rem;
  }
}

p {
  margin-bottom: 20px;
  text-align: center;

}

.container {
  display: grid;
  grid-template-rows: 120px 1fr 50px;
  height: 100vh;

  @include mobileMQ {
    grid-template-rows: 160px 1fr 50px;
  }
}

header {
  background-color: $yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include mobileMQ {
      justify-content: center;
  }

  .logo {
    width: 50px;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: bold;

    @include mobileMQ {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }
  ul {
    display: flex;

    @include mobileMQ {
      margin-bottom: 20px;
    }
    li {
      margin-left: 30px;
      @include mobileMQ {
        margin-left: 0;
        padding: 0 15px;
      }
      a {
        padding: 10px 0 3px;
        text-decoration: none;
        color: $grey;
        &:hover,
        &:focus {
          border-bottom: 2px solid $red;
        }
      }
    }
  }
}

.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

main {
  padding-bottom: 50px;
  display: flex;
  align-items: center;

  @include mobileMQ {
    align-items: flex-start;
  }

  section {
    width: 100%;
  }
}

.poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $red;
  box-shadow: -10px 10px $orange;
  padding: 10%;
  border-radius: 10px;

  @include mobileMQ {
    margin-left: 10px;
  }
  form {
    width: 50%;
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    
    @include mobileMQ {
       width: 100%;
    }
  }
  input[type=text] {
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid $yellow;
    background-color: $orange;
    border-radius: 5px;
    padding: 10px;
  }
  div {
    width: 100%;
    text-align: center;
  }
  .radio {
    margin-bottom: 5px;
    label {
      margin-left: 5px;
    }

  }
  .option {
    background-color: rgba(255, 179, 150, 0.5);
  }
  .url {
    text-align: center;
  }
  .results {
    margin-top: 15px;
    border: 2px solid $yellow;
    border-radius: 10px;
    padding: 50px 100px;
    background-color: $orange;
    text-align: center;

    @include mobileMQ {
      padding: 30px 25px;
    } 
    h3 {
      font-size: 2.3rem;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .bold {
      font-weight: bold;
    }
    p {
      margin-bottom: 10px;
    }
  }
  .pollBooth {
    .link {
      text-decoration: none;
      color: $grey;
    }
    h2:hover {
      font-size: 2.3rem;
    }
  }
}

button {
  margin: 20px 20px 0;
  padding: 10px 30px;
  background-color: $yellow;
  border: none;
  border-radius: 5px;

  @include mobileMQ {
    margin: 5px 5px 0;
    padding: 10px 15px;
  }
  &:hover,
  &:focus {
    background-color: darken($yellow,5%);
  }
  &:active {
    position: relative;
    top: 2px;
    background-color: $orange;
  }
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobileMQ {
    padding: 0 10px;
  }

  a {
    text-decoration: none;
    color: $grey;

    &:hover {
      color: $red;
    }
  }

  p {
    text-align: center;
  }
}